.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;  
  z-index: 9999;
}
.modal-overlay.show {
  opacity: 1;
}
.modal-box {
  background: #111;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.5);
}
.modal-box p {
  position: relative;
  top: 0;
  font-size: 20px;
  line-height: normal;
  margin: 0px;
  padding: 5px;
  text-align: left;
}

input {
  padding: 0.5rem;
  width: 120px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid orangered;
  background-color: #1a1a1a;
  color: inherit;
  height: 25px;
  margin: 0 5px;
  
}


#app-title{
  padding: 25px 0;
}

 @media (max-width: 768px) {

.modal-box {
  max-width: 300px;
}


 }