/* The slider button */
.switch {
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 2vw;
  margin-right: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fffafa;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 90%;
  width: 50%;
  left: 7%;

  background-image: url('slider-icon.svg');
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: black;
}

input:checked+.slider:before {
  -webkit-transform: translateX(calc(100% - 8px)); /* Adjust translation based on slider width and padding */
  -ms-transform: translateX(calc(100% - 8px));
  transform: translateX(calc(100% - 8px));
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Light theme changes */
body.light-theme {
  background:
    linear-gradient(rgba(255, 255, 255, 0.929), rgba(255, 247, 242, 0.906)),
    url('https://cdn.suwalls.com/wallpapers/holidays/halloween-pattern-on-black-49233-3840x2160.jpg');
  color: #242424;
}

body.light-theme button {
  background-color: rgb(24, 6, 0);
  color: white;
  border: 1px solid rgb(24, 6, 0);
}

body.light-theme #app {
  border: rgba(255, 252, 252, 0.909);
  box-shadow: 0 4px 10px rgba(194, 133, 120, 0.234);
}